

.disqall {
    width: 500px;
            
}

.disqall a {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

.disqall ul {
    list-style: none;
}

.disqall ul li {
    width: 100%;
    height: auto;
    min-height: 100px;
    clear: both;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;

}

.disqall ul li img {
    
    padding: 0px 15px 0px 15px;
}

.disqall .img-contain {
    width: 122px;
    height: auto;
    float: left;
    position: relative;
}

.disqall .inner {
    float: left;
    width: 300px;
    height: auto;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    
}

.disqall h3 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    margin-bottom: 8px;
}

.disqall .line {
    width: 80%;
    height: 2px;
    margin-left: 10%;
    position: absolute;
    background-color: #000;
    bottom: 0px;
}