.disqall {
    width: 250px;
            
}

.disqall a {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

.disqall ul {
    list-style: none;
    padding: 0px;
}

.disqall ul li {
    width: 100%;
    height: auto;
    min-height: 100px;
    clear: both;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;

}

.disqall ul li img {
    height: 48px;
    width: auto;
    margin-right: 10px;
    display: block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.disqall .img-contain {
    width: 68px;
    height: auto;
    float: left;
    position: relative;
}

.disqall .title a {
    text-decoration: none;
    color: rgb(0,39,59);
}

.disqall .details {
    color: rgb(0,39,59);
    font-size: 11px;
    margin-bottom: 5px;
}

.disqall .details a {
    color: rgb(56, 99, 160);
    font-weight: 700;
    text-decoration: none;
    font-size: 12px;
}

.disqall .inner {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #3f4549;
    
}

.disqall .post a{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #3f4549;
    text-decoration: none;
}

.disqall h3 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 8px;
    min-height: 50px;
    font-weight: 500;
}
