.disqwall {
    width: 200px;
            
}

.disqwall a {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

.disqwall ul {
    list-style: none;
    padding: 0px;
}

.disqwall ul li {
    width: 100%;
    height: auto;
    min-height: 100px;
    clear: both;
    margin-bottom: 10px;
    
    position: relative;
    background-color: #fdffcc;
    padding: 10px;
    border-top: 2px solid #ccc;

}

.disqwall ul li img {
    height: 48px;
    width: auto;
    margin-right: 10px;
    display: block;

}

.disqwall .img-contain {
    width: 68px;
    height: auto;
    float: left;
    position: relative;
}

.disqwall .title a {
    text-decoration: none;
    color: #333;
}

.disqwall .details {
    
    font-size: 11px;
    margin-bottom: 5px;
    color: #ababab;
}

.disqwall .details a {
    color: #b24b78;
    font-weight: 700;
    text-decoration: none;
    font-size: 12px;
}

.disqwall .inner {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #444;
    
}



.disqwall h3 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 8px;
    min-height: 50px;
    font-weight: 500;
    
}

