body {
    padding: 0px;
    margin: 0px;
    
}

.main {
    padding: 10px 10px 10px 30px;
    width: 940px;
    float: left;
}

.main h1 {
    font-family: 'Open Sans', sans-serif;
    color: #2557a1;
}

.main p {
    font-family: 'Open Sans', sans-serif;
    color: #303338;
}

.disqall {
    float: left;
    margin: 34px 0px 0px 20px;
}

.disqall-title {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #b8b8b8;
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: 400;
}