<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href="../../css/disqwall.css" rel="stylesheet">
    </head>
    <body>
        <div ng-app="disqwallApp" ng-controller="disqwallCtrl" class="disqwall">
            <ul>
                <li ng-repeat="dat in data">
                   <div class="img-contain">
                        <img src="{{dat.author.avatar.small.permalink}}">
                   </div>
                   <div class="inner">
                        <div class="title"><h3><a target="_blank" href="{{createLink(dat.thread.link, dat.id, getLinkTo())}}">{{dat.thread.clean_title}}</a></h3></div>
                        <div class="details"><a target="_blank" href="{{dat.author.profileUrl}}">{{dat.author.username}}</a> - posted {{formatTime(dat.createdAt)}}</div>
                        <div class="post">{{trimStringTo(dat.raw_message, 120)}}</div>
                   </div>
                   <div class="line"></div>
                   <div style="display: block; clear: both;"></div>
                </li>
            </ul>
        </div>
        <script src="../vendors/angular.min.js"></script>
        <script src="disqwallModule.js"></script>
        <script src="../common/commonModule.js"></script>
        <script src="../common/commonSvc.js"></script>
        <script src="disqwallSvc.js"></script>
        <script src="disqwallCtrl.js"></script>
    </body>
</html>