<ul>
                <li ng-repeat="dat in data">
                   <div class="inner">
                        <div class="title">
                            <a target="_blank" href="{{createLink(dat.thread.link, dat.id, getLinkTo())}}">
                                <img src="{{dat.author.avatar.small.permalink}}" align="left">
                            </a>
                            <h3><a target="_blank" href="{{createLink(dat.thread.link, dat.id, getLinkTo())}}">{{trimStringTo(dat.thread.clean_title, 56)}}</a></h3>
                        </div>
                   </div>
                   <div class="full inner">
                        <div class="details"><a target="_blank" href="{{dat.author.profileUrl}}">{{dat.author.username}}</a> • {{formatTime(dat.createdAt)}}</div>
                        <div class="post"><a target="_blank" href="{{createLink(dat.thread.link, dat.id, getLinkTo())}}">{{trimStringTo(strip(dat.raw_message), 120)}}</a></div>
                    </div>
                   <div style="display: block; clear: both;"></div>
                </li>
</ul>

